.card {
  background: #0542fc;
  border-radius: 32px;
  padding-inline: 26px;
  color: #fff;
  position: relative;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.cardTitle {
  font-size: 56px;
  font-weight: bold;
}

.cardTitle.improvements {
  font-size: 32px !important;
}

.cardDescription {
  font-size: 16px;
  color: #b3c6ff;
  white-space: pre-line;
}

.cardDescription.improvements {
  font-size: 56px !important;
  font-weight: bold;
  color: #494949 !important;
}

.cardRole {
  font-size: 32px;
  color: #fff;
  font-weight: bold;
}

.cardArrow {
  position: absolute;
  top: 30px;
  right: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background: #fff;
  color: #494949;
}

.white .cardDescription {
  color: #808080;
}

.white .cardRole {
  color: #1bd88f;
}

.icon {
  display: flex;
  gap: 10px;
}

.cardFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
