.card {
  background: #0542fc;
  border-radius: 32px;
  padding-inline: 26px;
  color: #fff;
  position: relative;
  width: 350px;
  height: 180px;
  transition: box-shadow 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: center;

  cursor: pointer;
}

.cardTitle {
  font-size: 56px;
  font-weight: bold;
}

.cardDescription {
  font-size: 16px;
  color: #b3c6ff;
  white-space: pre-line;
}

.cardArrow {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.white {
  background: #fff;
  color: #000;
}

.white .cardDescription {
  color: #000;
}
