.homePage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.cardWrapper {
  display: flex;
  gap: 20px;
}

.cardWrapper a {
  text-decoration: none;
}
