/* Header Component Styles */
.header {
  top: 0;
  z-index: 100;
  width: 48%;
  position: fixed;
  left: 16px;
  top: 12px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.simpleHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: 32px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.04);
  padding: 8px 24px 8px 24px;
}

.simpleTitle {
  font-size: 24px;
  font-weight: bold;
  color: #0542fc;
  cursor: pointer;
}

.simpleNav {
  display: flex;
  align-items: center;
  gap: 8px;
}

.simpleNavLink {
  color: #494949;
}

.simpleActionButton {
  background-color: #0542fc;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 8px 16px;
  min-width: 80px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
